.box {
    position: relative;
    height:  1250px;
   
    background-color: aqua;
}


.imgplace_1 
{
position: relative;
left: 0;
top: 0;
}

.imgplace_2 
{
position: absolute;
right: 0 ;
top: 0;
}

.imgplace_3 
{
position: absolute;
left: 0;
bottom: 0 ;

}

.imgplace_4 
{
position: absolute;
right: 0 ;
bottom: 0 ;
}